body {
    background-color:antiquewhite;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 15px;
    color:#042912;
}
h1 {
    color: rgb(5, 66, 2);
    font-size: 30px;
}